<section>
    <h3 class="title-equipos">Equipos nuevos en caja sellada</h3>

        <div class="contenedor-imagenes">
            <div>
                <img src="../assets/Iphone 13.jpg" alt="iphone13" style="width: 150px;">
            </div>
                <span class="iphoneimg">IPhone 13</span>
            <div>
                <img src="../assets/Ipone 14 Pro max.jpg"  alt="iphone14ProMax" style="width: 150px;">
            </div>
                <span class="iphoneimg">IPhone 14 Pro Max</span>
            <div>
                <img src="../assets/Iphone 15 Pro Max.jpg"  alt="iphone15ProMax" style="width: 150px;">
            </div>
                <span class="iphoneimg">IPhone 15 Pro Max</span>
        </div>
</section>
